 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.container{
    height: 813px;
    width: 435px;
    background-color: yellow;
    flex-direction: column;
}
.nav{
    width: 435px;
    height: 67px;
    background-color: #F00;
    display: flex;
    justify-content: space-between;
}
.opcoes{
    width: 15%;
    height: 100%;
    background-color: #F00;
    /* border: 1px solid black; */
    justify-content: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.opcoes>img{
    height: 80%;
    width: 80%;
}

.imagem{
    width: 15%;
    height: 100%;
    background-color: #F00;
    justify-content: right;
    display: flex;
    align-items: center;
    justify-content: center;

}
.imagem>img{
    max-height: 90%;
    max-width: 90%;
}

.logo_medicina{
    width: 100%;
    height: 20%;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.logo_medicina>img{
    height: 60%;
    width: 25%;
}
.registrar{
    height: 7%;
    width: 100%;
    background-color: #F00;
    justify-content: center;
    align-items: center;
    display: flex;
}
.registrar>p{
    margin: 0;
    font-size: 36px;
    font-family: "Poppins";
    color: black;
}
.camp_nome{
    
}